<!--
 * @Author: your name
 * @Date: 2020-08-08 22:20:26
 * @LastEditTime: 2020-08-08 22:23:59
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \python_work_space\python_work_space\python_fastAPI\One\templates\004_post.html
-->
<body>
    <form action="/files/" enctype="application/x-www-form-urlencoded" method="POST">
        <input type="file" name="files_list" multiple><br><br>
        <input type="file" name="files_name" multiple><br><br>
        <input type="submit" value="点击这里显示文件名称和大小">
    </form>
</body>